<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}

{% if cart.item_count > 0 %}

  <h1 class="l-page-header">{{ 'cart.general.title' | t }}</h1>
  <form action="/cart" method="post" class="cart table-wrap">
    <table class="c-cart-table cart-table full">
      <thead class="cart__row cart__header-labels">
        <th colspan="2" class="text-left">{{ 'cart.label.product' | t }}</th>
        <th class="text-center">{{ 'cart.label.price' | t }}</th>
        <th class="text-center">{{ 'cart.label.quantity' | t }}</th>
        <th class="text-right">{{ 'cart.label.total' | t }}</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr class="cart__row table__section">
            <td data-label="{{ 'customer.order.product' | t }}">
              <a href="{{ item.url | within: collections.all }}" class="cart__image">
                {% comment %}
                  More image size options at:
                    - http://docs.shopify.com/themes/filters/product-img-url
                {% endcomment %}
                <img src="{{ item | img_url: '60x' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}" class="h4">
                {{ item.product.title }}
              </a>
              {% unless item.variant.title contains 'Default' %}
                <br>
                <small>{{ item.variant.title }}</small>
              {% endunless %}

              {% if settings.cart_vendor_enable %}
                <p>{{ item.vendor }}</p>
              {% endif %}

              {% comment %}
                Optional, loop through custom product line items if available

                For more info on line item properties, visit:
                  - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
              {% endcomment %}
              {% assign property_size = item.properties | size %}
              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:

                    {% comment %}
                      Check if there was an uploaded file associated
                    {% endcomment %}
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    <br>
                  {% endunless %}
                {% endfor %}
              {% endif %}

              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>
            </td>
            <td data-label="{{ 'cart.label.price' | t }}">
              <span class="h3">
                {{ item.price | money }}
              </span>
            </td>
            <td data-label="{{ 'cart.label.quantity' | t }}">
              <input class="c-cart-table__quantity-input" type="number" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td data-label="{{ 'cart.label.total' | t }}" class="text-right">
              {% if item.original_line_price != item.line_price %}
                <span class="cart-item__original-price"><s>{{ item.original_line_price | money }}</s></span>
              {% endif %}
              <span class="h3">
                {{ item.line_price | money }}
              </span>
              {% for discount in item.discounts %}
                <span class="cart-item__discount">{{ discount.title }}</span>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="l-cart-actions">
      <div class="l-cart-actions__attributes">
        <label class="l-cart-actions__label">Choose a delivery method</label>
        <div class="c-tabs">
          <div class="c-tab" id="pickup-tab">
            <input class="c-tab__radio-input" type="radio" name="delivery-method" value="pickup" id="pickup">
            <label class="c-tab__label" for="pickup">Pick Up</label>
            <div class="c-tab__content">
              <div class="c-tab__pickup">
                {% include 'pickup-date' %}
                {% include 'pickup-time' %}
              </div>
              <h3 class="l-cart-actions__date-disclaimer">Please give us at least 12 hours notice. Please note that we close at 6pm on Sunday & Tuesdays. </br>Pickup location is <strong>309 Karangahape Road, Auckland.</strong></h3>
            </div>
          </div>
          <div class="c-tab" id="delivery-tab">
            <input class="c-tab__radio-input" type="radio" name="delivery-method" value="pickup" id="delivery" checked>
            <label class="c-tab__label" for="delivery">Delivery</label>
            <div class="c-tab__content">
              {% include 'delivery-date' %}
              <h3 class="l-cart-actions__date-disclaimer">Please give us at least 12 hours notice. Our courier can't deliver on weekends.</h3>
            </div>
          </div>
        </div>
        {% include 'date-picker-js' %}
        {% if settings.cart_notes_enable %}
        <div class="l-cart-actions__instructions">
          <label class="l-cart-actions__label" for="CartSpecialInstructions">Specific instructions (optional)</label>
          <textarea placeholder="For e.g...Leave with reception" name="note" class="l-cart-actions__instruction-text-area" id="CartSpecialInstructions">{{ cart.note }}</textarea>
        </div>
        {% endif %}
        {% comment %}
          Loop through cart items to see if any of the product has the tag "custom cookie message",
          if there is, then display a custom text area for cart attribute.
        {% endcomment %}
        {% for item in cart.items %}
        {% if item.product.tags contains "custom cookie message" %}
        <div class="l-cart-actions__instructions">
          <label class="l-cart-actions__label" for="customCookieMessage">Custom message on the cake/cookie (optional)</label>
          <textarea placeholder="For e.g...Please write Happy Birthday on the cake/cookie" name="attributes[custom-cookie-message]" class="l-cart-actions__instruction-text-area" id="customCookieMessage" value="{{ cart.attributes.custom-cookie-message }}">{{ cart.attributes.custom-cookie-message }}</textarea>
        </div>
        {% break %}
        {% endif %}
        {% endfor %}
        {% comment %}
          Loop through cart items to see if any of the product has the tag "custom box message",
          if there is, then display a custom text area for cart attribute.
        {% endcomment %}
        {% for item in cart.items %}
        {% if item.product.tags contains "custom box message" %}
        <div class="l-cart-actions__instructions">
          <label class="l-cart-actions__label" for="customBoxMessage">Custom message on the box (optional)</label>
          <textarea placeholder="For e.g...please write, Congrats on the new job Bert! Love Ernie." name="attributes[custom-box-message]" class="l-cart-actions__instruction-text-area" id="customBoxMessage" value="{{ cart.attributes.custom-box-message }}">{{ cart.attributes.custom-box-message }}</textarea>
        </div>
        {% break %}
        {% endif %}
        {% endfor %}
      	{% comment %}
          Loop through cart items to see if any of the product has the tag "custom tag message",
          if there is, then display a custom text area for cart attribute.
        {% endcomment %}
        {% for item in cart.items %}
        {% if item.product.tags contains "custom tag message" %}
        <div class="l-cart-actions__instructions">
          <label class="l-cart-actions__label" for="customTagMessage">Custom message on the tag (optional)</label>
          <textarea placeholder="For e.g...please write, Merry Christmas Ross, love Rachel." name="attributes[custom-tag-message]" class="l-cart-actions__instruction-text-area" id="customTagMessage" value="{{ cart.attributes.custom-tag-message }}">{{ cart.attributes.custom-tag-message }}</textarea>
        </div>
        {% break %}
        {% endif %}
        {% endfor %}
      </div>
      <div class="l-cart-actions__totals">
        <p>
          <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
          <span class="h3 cart__subtotal">{{ cart.total_price | money }}</span>
        </p>
        {% if cart.total_discounts > 0 %}
        {% assign savings = cart.total_discounts | money %}
        <p>
          <span class="cart-subtotal__savings"><em>{{ 'cart.general.savings_html' | t: price: savings }}</em></span>
        </p>
        {% endif %}
        <p class="t-supplementary l-cart-shipping-description">{{ 'cart.general.shipping_at_checkout' | t }}</p>
        <button type="submit" name="update" class="c-btn c-btn__neutral update-cart">{{ 'cart.general.update' | t }}</button>
        <button type="submit" name="checkout" class="c-btn">{{ 'cart.general.checkout' | t }}</button>
      </div>
    </div>
  </form>
{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <div class="l-cart__empty-message">
    <div class="c-message-panel">
      <img class="c-message-panel__image" src="{{'empty-cart-illustration.png' | asset_url }}" alt="">
      <h3 class="c-message-panel__header">Your cart is currently empty</h3>
      <p class="t-supplementary">Please continue browsing for cookies <a href="/">here</a></p>
    </div>
  </div>
{% endif %}
